@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(255, 255, 255);
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Add the 'animate-slide' class and reference the custom animation */
.animate-slide {
    animation: slideAnimation 2s linear infinite;
}
